In [1]:
import tensorflow as tf
from keras.models import Sequential
import pandas as pd
from keras.layers import Dense

In [2]:
df=pd.read_excel("Results.xlsx")
df = df.dropna()
df.isnull().any()

orient    False
emo       False
deep      False
op        False
dtype: bool

In [3]:
df.head()

     orient    emo  deep    op
0 -0.550000  0.045   0.5  0.50
1 -0.391667  0.600   0.5  0.55
2 -0.541667  0.030   0.5  0.45
3 -0.366667  0.750   0.5  0.55
4 -0.516667  0.015   0.5  0.45

In [4]:
labels=df['op']
features = df[["orient","deep","emo"]]

In [5]:
labels

0       0.50
1       0.55
2       0.45
3       0.55
4       0.45
        ...
3005    0.40
3006    0.40
3007    0.40
3008    0.37
3009    0.38
Name: op, Length: 2796, dtype: float64

In [6]:
features

        orient  deep    emo
0    -0.550000   0.5  0.045
1    -0.391667   0.5  0.600
2    -0.541667   0.5  0.030
3    -0.366667   0.5  0.750
4    -0.516667   0.5  0.015
...        ...   ...    ...
3005 -0.358330   0.0  0.955
3006 -0.258330   0.0  0.580
3007 -0.316670   0.0  0.945
3008 -0.391670   0.0  0.805
3009 -0.408330   0.5  0.955

[2796 rows x 3 columns]

In [7]:
import numpy as np
from sklearn.model_selection import train_test_split
X=features
y=np.ravel(labels)
# print(len(y))
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.33, random_state=42)

In [8]:
model = Sequential()
model.add(Dense(3, activation='relu', input_shape=(3,)))
model.add(Dense(1, activation='linear'))
model.compile(loss='mean_absolute_error',
optimizer='adam',
metrics=['mean_absolute_error'])
model.fit(X_train, y_train,epochs=8, batch_size=1, verbose=1)

Epoch 1/8
1873/1873 [==============================] - 2s 826us/step - loss: 0.3814 - mean_absolute_error: 0.3814
Epoch 2/8
1873/1873 [==============================] - 1s 786us/step - loss: 0.1516 - mean_absolute_error: 0.1516
Epoch 3/8
1873/1873 [==============================] - 1s 752us/step - loss: 0.1393 - mean_absolute_error: 0.1393
Epoch 4/8
1873/1873 [==============================] - 1s 751us/step - loss: 0.1343 - mean_absolute_error: 0.1343
Epoch 5/8
1873/1873 [==============================] - 1s 776us/step - loss: 0.1311 - mean_absolute_error: 0.1311
Epoch 6/8
1873/1873 [==============================] - 1s 757us/step - loss: 0.1282 - mean_absolute_error: 0.1282
Epoch 7/8
1873/1873 [==============================] - 1s 735us/step - loss: 0.1267 - mean_absolute_error: 0.1267
Epoch 8/8
1873/1873 [==============================] - 1s 745us/step - loss: 0.1251 - mean_absolute_error: 0.1251

In [9]:
model.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 3)                 12

 dense_1 (Dense)             (None, 1)                 4

=================================================================
Total params: 16
Trainable params: 16
Non-trainable params: 0
_________________________________________________________________

In [10]:
y_pred = model.predict(X_test)
score = model.evaluate(X_test, y_test,verbose=1)
print(score)

29/29 [==============================] - 0s 750us/step - loss: 0.1296 - mean_absolute_error: 0.1296
[0.12956686317920685, 0.12956686317920685]

In [11]:
model.predict([[-0.325000	,0.5,0.97]])

array([[0.83869064]], dtype=float32)

In [12]:
X_train

        orient  deep    emo
2015 -0.350000   0.0  0.390
2284 -0.758330   0.5  0.890
1561 -0.733333  -0.5  0.975
2133 -0.158330   0.5  0.970
869  -0.183333   0.5  0.980
...        ...   ...    ...
1831 -0.275000   0.5  0.830
1249  0.000000   0.5  0.460
1286  0.000000   0.5  0.935
1450 -0.183333   0.5  0.625
1011 -0.725000   0.5  0.980

[1873 rows x 3 columns]

In [13]:
model.save("scoring.h5")

In [14]:
!tensorflowjs_converter --input_format keras scoring.h5 "D:\BEFINAL\VideoStreamingServer\static\tfjs"

2022-02-26 10:17:26.720558: W tensorflow/stream_executor/platform/default/dso_loader.cc:64] Could not load dynamic library 'cudart64_110.dll'; dlerror: cudart64_110.dll not found
2022-02-26 10:17:26.720790: I tensorflow/stream_executor/cuda/cudart_stub.cc:29] Ignore above cudart dlerror if you do not have a GPU set up on your machine.